{{!-- header --}}
<div class="jumbotron jumbotron-fluid p-5">
  <h1> Burger App!</h1>
</div>

{{!-- central body --}}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      {{!-- new burger sumbision --}}
      <form>
        <input id="name" class="form-control" placeholder="Burger Name">
        <button class="btn btn-block" id="submit" type="submit">Add Burger!</button>
      </form>
    </div>
    <div class="col-12 col-md-9">
      <div class="row">
        {{!-- left column --}}
        <div class="col-12 col-md-6">
          <h3>Burgers Not Eaten Yet!</h3>
          {{!-- burgers to eat --}}
          <ul class="list-group">
            {{#each burgerData}}
            {{#unless devoure}}
            <li class="list-group-item d-flex">
              {{burger_name}}
              <span class="ml-auto">
                <button data-id="{{id}}" data-devoured="false" class="btn btn-sm eat-burger">
                  Eat Burger!
                </button>
              </span>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
        {{!-- right column --}}
        <div class="col-12 col-md-6">
          <h3>Burgers That Have Been Eaten!</h3>
          {{!-- burgers not eatn  --}}
          <ul class="list-group">
            {{#each burgerData}}
            {{#if devoure}}
            <li class="list-group-item d-flex">
              {{burger_name}}
              <span class="ml-auto">
                <button data-id="{{id}}" data-devoured="true" class="btn btn-sm eat-burger">
                  Make Another One!
                </button>
              </span>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../public/burger.js"></script>